html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  font-size: 94%;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  display: block;
  text-align: center;
}

aside {
  display: block;
  text-align: left;
  margin-left: 2.7rem
}

div {
  margin: 1.5rem;
  margin-top: 1.8rem;
  text-align: left;
  display: inline-block;
  max-width: 25em;
}

img {;
  display: inline-block;
  width: 285px;
  vertical-align: middle;
  margin-top: 2.7rem;
}

.btn {
  border: 4px solid #333;
  padding: 1em;
  border-radius: 10px;
  text-decoration: none;
}

.btn:hover {
  background-color: #666;
  border: 4px solid #666;
}

h2 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 180%
}
